@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - We need a name</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Members", "Index", "Members")</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(linkText: "Chat",
                    actionName: "Index",
                    controllerName: "Chat",
                        routeValues: new { id = User.Identity.GetUserId() },
                    htmlAttributes: null)
                        </li>
                    }
                    <li>@Html.ActionLink("Endorsement", "Create", "Endorsement")</li>
                    
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(linkText: "Profile",
                    actionName: "Details",
                    controllerName: "Members",
                      routeValues: new { id = User.Identity.GetUserId() },
                    htmlAttributes: null)
                        </li>
                    }
                </ul>

                <form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="tPLm8WGcd2GWHbCTeydv37hdu86plqMEfBMNuworJMrTBEUDKxcSeFGMXZ3Cc1pOUGGLVM7QaMORig9zdG9GOvdU2l-snh9-hpCwwrkCor2GVrHNOFLZAT6nF-6DlI40gpc0RoRbP11ZazMhm8xA8w2" />    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                            @*<a href="/Account/Manage" title="Manage">Hello lorettahammond@hotmail.com!</a>*@
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </form>


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year - name is a work in progress</p>
            </footer>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
